In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from acquire import get_connection, new_zillow_data, get_zillow_data
import matplotlib.pyplot as plt
from scipy import stats
import sklearn.preprocessing
from sklearn.model_selection import train_test_split


import warnings
warnings.filterwarnings("ignore")

In [2]:
df = get_zillow_data()
df.head()

,parcelid,propertylandusetypeid,propertylandusedesc,transactiondate,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,buildingqualitytypeid,fips,regionidzip,yearbuilt,taxvaluedollarcnt,assessmentyear,taxamount
0,14634203,266.0,Condominium,2017-08-04,1125.0,3.0,2.0,NaN,6059.0,96186.0,1974.0,289445.0,2016.0,3490.16
1,14269464,261.0,Single Family Residential,2017-06-01,2541.0,4.0,3.0,NaN,6059.0,96958.0,2003.0,880456.0,2016.0,9819.72
2,11696784,261.0,Single Family Residential,2017-06-16,1378.0,0.0,0.0,NaN,6037.0,96024.0,NaN,168828.0,2016.0,2135.39
3,14621355,266.0,Condominium,2017-06-27,1277.0,2.0,1.5,NaN,6059.0,96963.0,1969.0,95442.0,2016.0,998.18
4,17295416,265.0,Cluster Home,2017-05-16,1144.0,2.0,2.0,NaN,6111.0,96384.0,1973.0,239109.0,2016.0,3209.98

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41354 entries, 0 to 41353
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      41354 non-null  int64
 1   propertylandusetypeid         41354 non-null  float64
 2   propertylandusedesc           41354 non-null  object
 3   transactiondate               41354 non-null  object
 4   calculatedfinishedsquarefeet  41238 non-null  float64
 5   bedroomcnt                    41354 non-null  float64
 6   bathroomcnt                   41354 non-null  float64
 7   buildingqualitytypeid         26158 non-null  float64
 8   fips                          41354 non-null  float64
 9   regionidzip                   41327 non-null  float64
 10  yearbuilt                     41195 non-null  float64
 11  taxvaluedollarcnt             41353 non-null  float64
 12  assessmentyear                41354 non-null  float64
 13  taxamount                     41353 non-null  float64
dtypes: float64(11), int64(1), object(2)
memory usage: 4.4+ MB

In [4]:
df.describe()

,parcelid,propertylandusetypeid,calculatedfinishedsquarefeet,bedroomcnt,bathroomcnt,buildingqualitytypeid,fips,regionidzip,yearbuilt,taxvaluedollarcnt,assessmentyear,taxamount
count,4.135400e+04,41354.000000,41238.000000,41354.000000,41354.000000,26158.000000,41354.000000,41327.000000,41195.000000,4.135300e+04,41354.0,41353.000000
mean,1.303873e+07,261.852880,1796.913720,3.063283,2.311772,6.560211,6049.192581,96602.556513,1968.883360,4.958483e+05,2016.0,6057.119702
std,3.593873e+06,4.966336,955.150122,1.133587,0.991943,1.718975,21.028401,4237.281821,23.720711,6.206107e+05,0.0,7226.022004
min,1.071186e+07,31.000000,240.000000,0.000000,0.000000,1.000000,6037.000000,95982.000000,1824.000000,1.000000e+03,2016.0,19.920000
25%,1.153965e+07,261.000000,1192.000000,2.000000,2.000000,6.000000,6037.000000,96197.000000,1953.000000,2.118750e+05,2016.0,2757.360000
50%,1.254379e+07,261.000000,1558.000000,3.000000,2.000000,6.000000,6037.000000,96389.000000,1970.000000,3.654900e+05,2016.0,4517.100000
75%,1.423874e+07,266.000000,2130.000000,4.000000,3.000000,8.000000,6059.000000,96987.000000,1987.000000,5.789590e+05,2016.0,7049.620000
max,1.676878e+08,275.000000,35640.000000,16.000000,11.000000,12.000000,6111.000000,399675.000000,2016.000000,2.385837e+07,2016.0,276797.830000

In [ ]:
# rename columns with trricky names
df = df.rename(columns={"bedroomcnt" : "bedrooms", "bathroomcnt" : "bathrooms", "taxvaluedollarcnt " : "tax_value"})